body {
    font-family: 'Dangrek', cursive;
}

h1 {
    font-size: 56px;
}

.org {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 50%;
}